<!DOCTYPE HTML>
<html>
<head>
  <title>SIX Event Schedule</title>
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="manifest" href="manifest.json">
  <link rel="shortcut icon" href="favicon.ico"/>
  <link rel="icon" sizes="16x16 32x32" href="assets/favicon/favicon-32x32.png">
  <link rel="icon" sizes="57x57" href="assets/favicon/apple-touch-icon.png">
  <link rel="icon" sizes="152x152" href="assets/favicon/android-chrome-192x192.png">

  <meta name=viewport content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="styles/layout.css">
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link rel="stylesheet" type="text/css" href="styles/transitions.css">

  <script type="text/javascript" src="scripts/schedule.js"></script>
  <script type="text/javascript" src="scripts/data.js"></script>
  <script type="text/javascript" src="scripts/app.js" defer></script>
  <script type="text/javascript" src="scripts/uiManager.js" defer></script>
</head>
<!--
    _    _____ _______       _____  ____  _    _  _____ _  __ _____
 /\| |/\/ ____|__   __|/\   |  __ \|  _ \| |  | |/ ____| |/ // ____|
 \ ` ' / (___    | |  /  \  | |__) | |_) | |  | | |    | ' /| (___
|_     _\___ \   | | / /\ \ |  _  /|  _ <| |  | | |    |  <  \___ \
 / , . \____) |  | |/ ____ \| | \ \| |_) | |__| | |____| . \ ____) |
 \/|_|\/_____/_  |_/_/  _ \_\_|__\_\____/ \____/_\_____|_|\_\_____/_
 /\| |/\_   _| \ | | \ | |/ __ \ \    / /\|__   __|_   _/ __ \| \ | |
 \ ` ' / | | |  \| |  \| | |  | \ \  / /  \  | |    | || |  | |  \| |
|_     _|| | | . ` | . ` | |  | |\ \/ / /\ \ | |    | || |  | | . ` |
 / , . \_| |_| |\  | |\  | |__| | \  / ____ \| |   _| || |__| | |\  |
 \/|_|\/_____|_|_\_|_|_\_|\____/   \/_/    \_\_|  |_____\____/|_| \_|
|  ____\ \ / /  __ \ / __ \
| |__   \ V /| |__) | |  | |
|  __|   > < |  ___/| |  | |
| |____ / . \| |    | |__| |
|______/_/ \_\_|     \____/

Emotion, yet peace.
Ignorance, yet knowledge.
Passion, yet serenity.
Chaos, yet harmony.
Darkness, yet light.
- Say hello @ ramirs.com
 -->
<body>
  <div id="app-container">
    <div id="app-ui-header-mini"><img id="ic_sm_header" src="assets/brand/logo_text_title.svg" alt="SIX DISRUPT"></div>
    <!-- LIST EVENT VIEW -->
    <div id="app-view-schedule">
        <div id="app-ui-header">
          <img id="br_logo" src="assets/brand/logo_text.svg" alt="SIX DISRUPT">
        </div>
        <!-- SINGLE EVENT CARD -->
        <div v-show="!userListToggle" class="event-list-container">
          <div v-for="ev in filteredEventList" v-on:click="showSingleEventView(ev)" class="event-list-item">
            <div>
              <span class="event-item-title">{{ev.title}}</span>
              <span class="event-item-subtitle">{{ev.subtitle}}</span>
            </div>
            <div class="event-item-data">
              <div class="event-item-time"><img class="ic_clock" src="assets/ic_clock.svg" alt="Event Start Time"><span class="event-item-start text-bold">{{ev.start | timeFormat}}</span></div>
              <div>{{ev.location}}</div>
            </div>
            <div v-show="ev.checked" class="going-label"><img class="ic_checkmark" src="assets/ic_checkmark.svg" alt="You are attending this event"></div>
          </div>
        </div>
        <div v-show="!singleToggle" v-on:click="toggleFilter()" class="floating-ui-btn"><img id="ic_menu" v-show="!filterOverlay" src="assets/ic_menu.svg" alt="Open Menu"><img id="ic_close" v-show="filterOverlay" src="assets/ic_close.svg" alt="Close Menu"></div>
        <div class="filter-list" v-show="filterOverlay">
          <transition name="slide-pos-5">
            <div v-on:click="filterBy(2)" v-show="filterOverlay"><div class="menu-item-label">Keynotes</div><img id="ic_keynote" src="assets/ic_keynote.svg" alt="Filter Keynote Events"></div>
          </transition>
          <transition name="slide-pos-4">
            <div v-on:click="filterBy(3)" v-show="filterOverlay"><div class="menu-item-label">Presentations</div><img id="ic_preso" src="assets/ic_preso.svg" alt="Filter Presentation Events"></div>
          </transition>
          <transition name="slide-pos-3">
            <div v-on:click="filterBy(1)" v-show="filterOverlay"><div class="menu-item-label">Workshops</div><img id="ic_workshop" src="assets/ic_workshop.svg" alt="Filter Workshop Events"></div>
          </transition>
          <transition name="slide-pos-2">
            <div v-on:click="filterBy(4)" v-show="filterOverlay"><div class="menu-item-label">Hack Day</div><img id="ic_hack" src="assets/ic_hack.svg" alt="Filter Hack Day Events"></div>
          </transition>
          <transition name="slide-pos-1">
            <div v-on:click="filterBy(5)" v-show="filterOverlay && storageAvailable"><div class="menu-item-label">Saved Events</div><img id="ic_events" src="assets/ic_events.svg" alt="Filter Saved Events"></div>
          </transition>
          <transition name="slide-fade">
            <div v-on:click="filterBy(0)" v-show="filterOverlay"><div class="menu-item-label">Home</div><img id="ic_home" src="assets/ic_home.svg" alt="View Full Event Schedule"></div>
          </transition>
        </div>
        <div class="filter-overlay" v-show="filterOverlay"></div>
      </div>
      <!-- SINGLE EVENT VIEW -->
      <transition name="slide">
        <div id="app-view-single" v-show="singleToggle">
          <div class="view-container">
            <div class="event-calling-card">
              <div v-on:click="closeSingleEventView()" class="action-btn btn-back"><img id="ic_back" src="assets/ic_back.svg" alt="Close Single Event View"></div>{{singleEvent.title}}</div>
            <div class="event-information">
              <div class="event-info-group general-info-group">
                <div class="event-content-title">General Information</div>
                <hr>
                <div class="event-item-data">
                  <div class="text-header text-bold"><img class="ic_clock" src="assets/ic_clock.svg" alt="Event Start Time"><span class="event-item-start">{{singleEvent.start | timeFormat}} - {{singleEvent.end | timeFormat}}<span></div>
                  <div class="event-item-loc">{{singleEvent.location}}</div>
                </div>
                <div v-show="!listToggle && storageAvailable" class="event-action-btn" v-on:click="saveEvent()"><img id="ic_add" src="assets/ic_add.svg" alt="Save event to my schedule"></div>
                <div v-show="listToggle && storageAvailable" class="event-action-btn" v-on:click="deleteEvent(singleEvent)"><img id="ic_remove" src="assets/ic_remove.svg" alt="Remove event from my schedule"></div>
              </div>
              <div class="event-info-group" v-if="typeof singleEvent.description !== 'undefined'">
                <div class="event-content-title">Description</div>
                <hr><div v-for="newLine in singleEvent.description">
                  <p class="text-header">{{newLine}}</p>
                </div>
              </div>
              <div class="event-info-group" v-if="typeof singleEvent.speakers !== 'undefined'">
                <div class="event-content-title">Speakers</div>
                <hr><div v-for="host in singleEvent.speakers">
                  <div class="info-content-title text-header">{{host.name}}</div>
                  <div><span v-if="typeof host.title !== 'undefined'">{{host.title}}<span v-if="typeof host.organization !== 'undefined'">,</span></span> {{host.organization}}</div>
                  <p class="text-header" v-for="bioLine in host.bio">{{bioLine}}</p>
                </div>
              </div>
              <div class="event-info-group" v-show="typeof singleEvent.organizations !== 'undefined'">
                <div class="event-content-title">Sponsors / Organizations</div>
                <hr><div v-for="org in singleEvent.organizations">
                  <div class="info-content-title text-header">{{org.name}}</div>
                </div>
              </div>
          </div>
      </div>
    </transition>
  </div>
</body>
</html>
