#app-ui-header {
  position: fixed;
  width: 100vw;
  height: 45px;
  text-align: center;
  line-height: 45px;
}

#app-view-schedule {
  overflow-y: scroll;
  height: calc(100vh - 37px);
  padding-top: 37px;
}

#app-view-single {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1;
  overflow: hidden;
}
#app-view-single > .view-container {
  height: 100vh;
  overflow-y: scroll;
  margin-bottom: 45px;
}

.app-ui-toggle {
  display: inline-block;
  width: 50%;
  padding: 15px 10px;
  box-sizing: border-box;
}

#app-view-single .ui-btn {
  /*position: absolute;*/
  /*display: block;*/
  /*right: 45px;*/
  /*bottom: 40px;*/
}
#app-view-single .event-action-btn {
  display: block;
}

.event-list-container {
  padding: 20px 25px;
  margin-bottom: 55px;
}
.event-list-item {
  padding: 5px 10px;
  margin-bottom: 7px;
}
.event-list-item i {
  color: #95a5a6;
}
.event-item-title {
  font-size: 1.1em;
}
.event-item-subtitle {
  /*color: #95a5a6;*/
  display: block;
  margin: 7px;
  margin-left: 0px;
}
.event-item-start {
  float: right;
}

#scroll-header {
  position: fixed;
  width: 100%;
  width: 100vw;
  text-align: center;
  /*line-height: 200px;*/
  /*line-height min val = 80px*/
  height: 200px;
}
.header-title-floating {
  line-height: 200px;
}

.event-information {
  /*padding: 25px;*/
  margin-bottom: 85px;
  margin-top: 200px;
}
.info-content-title {
  display: block;
  margin-bottom: 7px;
  margin-top: 7px;
}

.action-btn {
  position: absolute;
}
.event-action-btn {
  /*padding: 20px;*/
}

.btn-back {
  top: 25px;
  left: 20px;
  line-height: initial;
}

.floating-ui-btn {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 20px;
  right: 20px;
  border-radius: 45px;
  text-align: center;
  line-height: 55px;
  z-index: 2;
}
.filter-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(243, 243, 243, 0.80);
}
.filter-list {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 20px;
  bottom: 75px;
  text-align: right;
  z-index: 2;
}
.filter-list > div {
  list-style-type: none;
  font-size: 1.2em;
  margin-top: 10px;
}

.filter-list i {
  width: 45px;
  text-align: center;
  margin-left: 12px;
}
