body, html, #app-container {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f3f3;
  font-size: 14px;
  overflow: hidden;
}

#app-view-single {
  background-color: #fff;
}

#app-ui-header {
  background-color: #fff;
  font-size: 0.9em;
  -webkit-box-shadow: 0 4px 6px -6px #dadada;
  -moz-box-shadow: 0 4px 6px -6px #dadada;
  box-shadow: 0 4px 6px -6px #dadada;
}

.app-ui-toggle {
  color: #95a5a6;
  text-align: center;
}
.app-ui-toggle.activeTab {
  color: #232323;
  border-bottom: 2px solid #232323;
}
.app-ui-toggle:hover {
  /*color: #232323;
  border-bottom: 2px solid #232323;*/
  cursor: pointer;
}

.event-list-container {
  background-color: #f3f3f3;
}
.event-list-item {
  background-color: #fff;
  transition: box-shadow 0.25s ease-in-out
}
.event-list-item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 4px #dadada;
  -moz-box-shadow: 0 4px 4px #dadada;
  box-shadow: 0 4px 4px #dadada;
}

#scroll-header {
  background-color: #9b59b6;
  color: #fff;
  font-size: 1.6em;
}
.event-information {
  font-size: 1.1em;
  color: #232323;
}
.event-information i {
  color: #95a5a6;
  width: 25px;
  text-align: center;
}
.event-information > div {
  margin-bottom: 20px;
}

.ui-btn:hover,
.action-btn:hover {
  cursor: pointer;
  opacity: 0.85;
}

.ui-btn {
  width: 75px;
  height: 75px;
  border-radius: 75px;
  text-align: center;
}
.ui-btn > i {
  color: #fff;
  line-height: 75px;
}

.btn-save {
  background-color: #2ecc71;
}
.btn-delete {
  background-color: #e74c3c;
}

.btn-back {
  font-size: 0.9em;
}
