#app-ui-header {
  position: fixed;
  width: 100vw;
  /*height: 45px;*/
  text-align: center;
  /*line-height: 45px;*/
}

#app-view-schedule {
  overflow-y: scroll;
  height: calc(100vh - 72px);
  padding-top: 72px;
}

#app-view-single {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1;
  overflow: hidden;
}
#app-view-single > .view-container {
  height: 100vh;
  overflow-y: scroll;
  margin-bottom: 45px;
}

.app-ui-toggle {
  display: inline-block;
  width: 50%;
  padding: 15px 10px;
  box-sizing: border-box;
}

#app-view-single .ui-btn {
  /*position: absolute;*/
  /*display: block;*/
  /*right: 45px;*/
  /*bottom: 40px;*/
}
#app-view-single .event-action-btn {
  display: block;
}

#back-label {
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  margin-left: 6px;
}

.event-list-container {
  padding: 25px;
  margin-bottom: 55px;
}
.event-list-item {
  padding: 30px;
  margin-bottom: 7px;
  max-width: 650px;
  margin: auto;
  margin-bottom: 8px;
}
.event-list-item i {
  color: #95a5a6;
}
.event-item-title {
  font-size: 1.1em;
}
.event-item-subtitle {
  /*color: #95a5a6;*/
  display: block;
  margin: 7px;
  margin-left: 0px;
}
.event-item-start {
  float: right;
}

#scroll-header {
  position: fixed;
  width: 100%;
  width: 100vw;
  text-align: center;
  /*line-height: 200px;*/
  /*line-height min val = 80px*/
  height: 200px;
}
/*.header-title-floating {
  line-height: 200px;
}*/
#scroll-header-title {
  width: 85%;
  text-align: center;
  margin: auto;
  padding-top: 80px;
  font-size: 1em;
  display: inline-block;
}

.event-information {
  /*padding: 25px;*/
  margin-bottom: 85px;
  margin-top: 200px;
}
.event-information > div:not(.event-action-btn){
  max-width: 850px;
  margin: auto;
}

.info-content-title {
  display: block;
  margin-bottom: 7px;
  margin-top: 7px;
}

.action-btn {
  position: absolute;
}
.event-action-btn {
  width: 90%;
  max-width: 300px;
  margin: auto;
  padding: 7px 15px;
  border-radius: 43px;
}

.btn-back {
  top: 20px;
  left: 20px;
  line-height: initial;
}

.floating-ui-btn {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 20px;
  right: 20px;
  border-radius: 45px;
  text-align: center;
  line-height: 55px;
  z-index: 2;
}
.filter-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.filter-list {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 20px;
  bottom: 75px;
  text-align: right;
  z-index: 2;
}
.filter-list > div {
  list-style-type: none;
  font-size: 1.2em;
  margin-top: 10px;
}

.filter-list i {
  text-align: center;
  margin-left: 15px;
}

.overlay-mask {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

@media (min-width: 850px) {
  .event-list-item {
    padding: 25px 30px;
  }
}
