body, html, #app-container {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  overflow: hidden;
}

hr {
  color: #f3f3f3;
  background-color: #f3f3f3;
  height: 2px;
  border: none;
}

#app-view-single {
  background-color: #fff;
}

#app-ui-header {
  background-color: #8800bb;
  background-image: url('../assets/brand/logo-background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  -webkit-box-shadow: 0 6px 6px -6px #dadada;
  -moz-box-shadow: 0 6px 6px -6px #dadada;
  box-shadow: 0 6px 6px -6px #dadada;
  height: 420px;
}
#br_logo {
  position: relative;
  height: calc(100% - 35px);
  margin-top: 15px;
}

#app-title {
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
#app-title .main-content {
  font-size: 1.2em;
  line-height: 60px;
}
#title-display {
  font-size: 0.8em;
  line-height: 20px;
}

#app-sub {
  background-color: #ffffff;
  color: #232323;
  line-height: 32px;
}

.app-ui-toggle {
  color: #95a5a6;
  text-align: center;
}

.event-list-container {
  background-color: #ffffff;
}
.event-list-item {
  background-color: #fff;
  /*transition: box-shadow 0.25s ease-in-out*/
  -webkit-box-shadow: 0px 1px 4px 0px grey;
  -moz-box-shadow: 0px 1px 4px 0px grey;
  box-shadow: 0px 1px 4px 0px grey;
}

.event-information {
  font-size: 1.1em;
  color: #232323;
}
.event-content-title {
  color: #95a5a6;
  font-size: 0.8em;
}

.event-info-group {
  margin-top: 23px;
}
.event-info-group > div {
  margin-bottom: 5px;
}

.ui-btn {
  width: 75px;
  height: 75px;
  border-radius: 75px;
  text-align: center;
}
.ui-btn > i {
  color: #fff;
  line-height: 75px;
}

.event-action-btn i {
  color: #fff;
}
.btn-save,
.save-action-btn,
div.green {
  background-color: #2ecc71;
  color: #fff;
}
.btn-delete,
.delete-action-btn,
div.red {
  background-color: #e74c3c;
  color: #fff;
}
div.purple {
  background-color: #8800bb;
}

.delete-action-btn,
.save-action-btn {
  line-height: 50px;
  text-align: center;
}

.btn-back {
  font-size: 0.9em;
}

.filter-list {
  color: #232323;
  /*color: #34193f;*/
}

.filter-overlay {
  background-color: rgba(243, 243, 243, 0.90);
}

.menu-item-label {
  display: inline-block;
  line-height: 48px;
  vertical-align: top;
  margin-right: 12px;
  font-size: 1.3em;
}
